/* Judul */
.judul{
    justify-content: center;
    text-align: center;
    font-family: fantasy;
    color: black;
    text-shadow: 1px 1px 1px aqua,
    1px 2px 1px aqua,
    1px 3px 1px aqua,
    1px 5px 4px rgba(16,16,16,0.4),
    1px 6px 6px rgba(16,16,16,0.2),
    1px 7px 8px rgba(16,16,16,0.2),
    1px 8px 10px rgba(16,16,16,0.4);
}
/* End Judul */

/* Container */

.container {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px) ;
    border-radius: 20px;
    border: 1px solid aqua;
    box-shadow: 0 8px 32px 0 black; 
    width: 80%; 
    max-width: 500px; 
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
}

.input-box {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(5deg,white,rgb(74, 74, 245));
    color: #fff;
    font-size: 16px;
}

button:hover {
    background:  linear-gradient(5deg,white,red);
}

.cara{
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    justify-content: center;
    text-align: center;
}
/* End Container */

/* Keseluruhan */
.subject-info{
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

body{
   height: 100vh;
   width: 100%;
   background: linear-gradient(5deg,black,aqua);
   background-size: 100% 100%;
}

body h4{
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    font-size: 18px;

}

/* End Keseluruhan */

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Increase width for smaller screens */
        padding: 20px;
    }

    .subject-info {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .button {
        width: 100%; /* Make buttons full width */
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 95%; /* Further increase width for extra small screens */
        padding: 15px;
    }

    .subject-info {
        font-size: 18px; /* Adjust font size for extra small screens */
    }

    body{
        margin-bottom: 50px;
    }
}